<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="actorName">Full Name</label>
      <input type="text" class="form-control" id="actorName" [(ngModel)]="fullName">
    </div>
    <div class="form-group">
      <label for="actorName">Birth Year</label>
      <input type="number" class="form-control" id="actorName" [(ngModel)]="dob" maxlength="4" [maxlength]="4">
    </div>
    <button type="submit" class="btn btn-secondary" (click)="onSaveActor()">Save Actor</button>
  </div>
</div>
